@model IEnumerable<rezerviraj.si.Models.Rezervacija>

@{
    ViewData["Title"] = "Vse rezervacije";
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Vse rezervacije restavracije @ViewData["Naziv"]</h1>
            <hr>
            <a asp-action="Details" asp-controller="Restaurant" asp-route-id='@ViewData["Id"]'>Nazaj</a>
            @if (Model.Count() == 0) {
                <p>Ni še nobene rezervacije</p>
            } else {
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Rezervacija ID</th>
                            <th scope="col">Rezerviral</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Število oseb</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rezervacija in Model) {
                            <tr>
                                <th>@rezervacija.RezervacijaID</th>
                                <td>@rezervacija.Gost.Ime @rezervacija.Gost.Priimek</td>
                                <td>@rezervacija.RezerviranoZa</td>
                                <td>@rezervacija.StOseb</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>